/* Buttons */
.button {
  /* Reset */
  background-image: none;
  background-color: transparent;
  border: 0;

  /* Styles */
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  padding: 22px 32px;
  text-transform: capitalize;
}

.button-icon {
  padding: 0;
  border: 0;

  width: 58px;
  height: 58px;

  border-radius: 50%;

  color: var(--primaryDarken);
  font-size: 23px;
}
.button-icon:hover {
  background-color: var(--gray-100);
}

.button-outline-white {
  border: 1px solid white;
  color: white;
}
.button-outline-white:hover {
  background-color: white;
  color: var(--primary);
}

.button-primary {
  background-color: var(--primaryDarken);
  color: white;
}
.button-primary:hover {
  color: var(--primaryDarken);
  background-color: var(--gray-100);
}
.button-secondary{
  padding: 25px 75px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: var(--primary);
  background-color: white;
}