/* Contact Us */
.form-control{
    width: 100%;
    padding: 17px 20px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 27px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
/* Subscribe */
.form-subscribe{
    margin-top: 66px;
}
.subscribe-control{
    margin-right: 28px;
    max-width: 573px;
    background-color: var(--primary);
}