.progress{
    margin-bottom: 8px;
    display: flex;
    overflow: hidden;
    
}
.progress-bar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--primary);
    text-align: left;
}
.progress-bar,
.progress-label{
    color: white;
}
.progress-bar-1{
    width: 90%;
}
.progress-bar-2{
    width: 82%;
}
.progress-bar-3{
    width: 92%;
}
.progress-bar-4{
    width: 87%;
}
.progress-label{
    padding: 16px 14px;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}