/* Layout: Sections */

.section {
  padding-top: 57px;
  padding-bottom: 78px;
}
.section-head {}
  .section-title,
  .section-subtitle {
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  .section-description,
  .section-subtitle {
    color: var(--primaryLighten);
  }
  .section-title,
  .section-subtitle,
  .section-description {
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }
  .section-title {
    /* Reset */
    margin-top: 0;

    color: var(--primary);
    font-size: 30px;
  }
  .section-subtitle {
    /* Reset */
    margin-top: 0;

    font-size: 20px;
  }
  .section-description {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-left: 15px;
    max-width: 758px;
    font-size: 15px;
  }
.section-body {}


/* Template */
.section-template .section-body {
  padding-top: 65px;
  padding-bottom: 65px;
}
/* Quote */
.section-quote{
  background-color: var(--primaryDarken);
  text-align: center;
}
.quote-description{
  margin-left: auto;
  margin-right: auto;
  max-width: 783px;
  color: white;
  font-size: 25px;
  font-weight: 300;
  line-height: 27px;
}
.quote-author{
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
/* Customer */
.section-customer{
  background-color: var(--primaryDarken);
}
.customer-title,
.customer-description{
  color: white;
}
.customer-description{
  margin-bottom: 70px;
}
/* Testimonials */
.section-testimonials{
  text-align: center;
}
.testimonials-author{
  color: var(--primary);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}