/* Layout: Sections */

.section {
  padding-top: 57px;
  padding-bottom: 78px;
}
.section-head {}
  .section-title,
  .section-subtitle {
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  .section-description,
  .section-subtitle {
    color: var(--primaryLighten);
  }
  .section-title,
  .section-subtitle,
  .section-description {
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }
  .section-title {
    /* Reset */
    margin-top: 0;

    color: var(--primary);
    font-size: 30px;
  }
  .section-subtitle {
    /* Reset */
    margin-top: 0;

    font-size: 20px;
  }
  .section-description {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-left: 15px;
    max-width: 758px;
    font-size: 15px;
  }
.section-body {}


/* Template */
.section-template .section-body {
  padding-top: 65px;
  padding-bottom: 65px;
}
