/* Utilities */
.text-center { text-align: center; }
.divider {
  position: relative;
  display: block;
  max-width: 600px;
  margin: 0 auto 23px;
}
.divider.divider-inverse::before,
.divider.divider-inverse::after {
  background-color: var(--primaryLighten);
}
.divider-inverse .divider-circle {
  border-color: var(--primaryLighten);
}
.divider::before,
.divider::after {
  content: '';
  position: absolute;
  width: calc(50% - 25px);
  height: 2px;
  top: 50%;
  margin-top: -1px;
  background-color: white;
}
.divider::before {
  left: 0;
  margin-left: 15px;
}
.divider::after {
  right: 0;
  margin-right: 15px;
}
.divider-circle {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;
}